.nutrition-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    width: 100px;
    gap: 60px;
    margin-top: 130px;
  }
  
  .nutrition-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icon {
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  
  
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .amount {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
  }
  
  .label {
    font-size: 20px;
    color: #888;
  }
  