
.vertical-nav {
    width: 117px;
    min-height: 780px;
    background-color: #333;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:50px;
  }
  
  
  .vertical-nav ul {
    list-style-type: none;
    padding: 0;
    background: none;
  }
  
  .vertical-nav li {
    margin-top: 10px;
  }
  
  .nav-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
  
  .nav-icon {
    width: 64px;  
    height: 64px;  
  }

  .copyright{
    color: white;
    font-family: Roboto;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 12px;
  display: flex;
  justify-content: center;
  }
  